.error {
  padding: 2vw 5vw;
  margin: 0 5vw;
  font-size: 1.5vw;
}

h1.error {
  font-size: 3vw;
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */

/
