{% extends 'base_frontoffice.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block title %}
  Accueil
{% endblock %}

{% block body %}


  {# <div class="dark:bg-slate-800"> #}

    <main>
      <!-- SHORT PRESENTATION + CV -->
      <section class="bg-orange-200 border mb-3" id="welcoming_encart" >
        <h1 class="text-xl font-bold text-orange-400 ">Qui suis-je ?</h1>
        <p>Communicante de formation, je me suis reconvertie par passion au développement web. Dynamique, passionnée et exigeante, j'ai trouvé ma voie dans le domaine digital où mon énergie et ma curiosité peuvent pleinement s'exprimer.</p>
        <hr />
        <a class="" href="/dl/CV_IT.pdf" target="_blank" role="button">
          <div class="">
            <div class="" id="dl-cv">Téléchargez mon CV !</div>
            <div class="" id="dl-cv-xs">CV</div>
            <div>
              <i class="material-icons">file_download</i>
            </div>
          </div>
        </a>
      </section>
      {# <!-- LAST PRODUCTIONS CARROUSEL -->
      <section class="bg-orange-300 border mb-3" id="carrousel">
        <ol>
          <li></li>
          <li></li>
        </ol>
      </section> #}
      <!-- LAST PRODUCTIONS GALLERY -->
      <section class="bg-orange-400 border mb-3" id="professional_xp">
        <div>
          <h2>Expériences professionnelles</h2>
          <hr />
          <p class="">
            <strong>Vous trouverez ici mes dernières expériences professionnelles.</strong>
          </p>
        </div>
        <div>
          <article></article>
          <article></article>
          <article></article>
          <article></article>
        </div>
      </section>
    </main>
  {# </div> #}
{% endblock %}
