{% extends 'base_frontoffice.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/nav.css" />
  <link rel="stylesheet" href="/css/footer.css" />
{% endblock %}

{% block title %}
  Mentions légales
{% endblock %}

{% block body %}
  <style>
    .example-wrapper {
      margin: 1em auto;
      max-width: 800px;
      width: 95%;
      font: 18px/1.5 sans-serif;
    }
    .example-wrapper code {
      background: #f5f5f5;
      padding: 2px 6px;
    }
  </style>

  <main>
    <h1>Mentions légales</h1>
    <section class="">
      <article>
        <h2>Edition et gestion du site web</h2>
        <p>Eloïse Caille</p>
        <p>email : elo.caille@gmail.com</p>
        <p>tel : +39 351 819 6452</p>
      </article>

      <article>
        <h2>Hébergement du site web</h2>
        <p style="font-style:italic;">A compléter</p>
      </article>
    </section>

    <section class="" id="legacy">
      <article class="">
        <div class="" id="heading1">
          <h2 class=""><button class="" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1"><h3>Respect de la vie privée et des données personnelles</h3></button></h2>
        </div>

        <div id="collapse1" class="" aria-labelledby="heading1" data-parent="#legacy">
          <div class="">
            <p>Vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données qui vous concernent, s’il s’en trouvait (art.34 de la loi « Informatique et Libertés » nº 78-17 du 16 janvier 1978).</p>
          </div>
        </div>
      </article>

      <article class="">
        <div class="" id="heading2">
          <h2 class=""><button class="" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2"><h3>Sécurité et confidentialité sur le réseau</h3></button></h2>
        </div>

        <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#legacy">
          <div class="">
            <p>
              Les messages que vous nous faites parvenir par l’intermédiaire d’Internet peuvent être interceptés sur le réseau. Jusqu’à ce qu’ils nous parviennent, leur confidentialité ne peut être garantie. <br />
              Nous vous recommandons de vous assurer que vous ne divulguez pas d’informations personnelles ou confidentielles inutiles, sensibles ou provenant de tiers, notamment par voie électronique, l’indication de provenance des messages électroniques pouvant être falsifiée. <br />
              Pour nous communiquer de telles informations, utilisez impérativement la voie postale. En conséquence, aucune plainte, déclaration ou demande de conseil à ce sujet transmise par message Internet ne sera prise en compte.
            </p>
          </div>
        </div>
      </article>

      <article class="">
        <div class="" id="heading3">
          <h3 class=""><button class="" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3"><h3>Utilisation des cookies</h3></button></h3>
        </div>

        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#legacy">
          <div class="">
            <p>
              Eloïse peut être amenée à utiliser le système des « cookies ». Cela ne nous permet pas de vous identifier mais de collecter des informations lors de votre passage sur notre site afin de savoir quelles sont les parties de notre site qui vous intéressent. <br />
              Eloïse pourra alors mieux connaître vos centres d’intérêt et vous communiquer des informations adaptées à vos besoins. Les cookies, qui sont stockés dans vos navigateurs, vous évitent également de devoir fournir à chaque fois des informations déjà communiquées, dans la mesure où ils se souviennent de ces informations communiquées antérieurement.<br />
              Il vous est possible de détecter l’existence des cookies et, le cas échéant, de les supprimer.<br />
              Il vous est possible de vous opposer à l’enregistrement de cookies en désactivant cette fonction de votre navigateur dans les préférences de celui-ci.
            </p>
          </div>
        </div>
      </article>

      <article class="">
        <div class="" id="heading4">
          <h4 class=""><button class="" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4"><h3>Respect des droits d'auteur</h3></button></h4>
        </div>

        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#legacy">
          <div class="">
            <p>
              L’utilisation de documents (photos, textes, images …) provenant du site https://www.elo-tnt1130.com/ n’est autorisée qu’à titre d’information et pour un usage privé. Toute utilisation à des fins commerciales est interdite. <br />
              Eloïse s’efforce d’assurer l’exactitude et la mise à jour des informations diffusées sur https://www.elo-tnt1130.com/. Toutefois, il appartient aux visiteurs de vérifier les informations présentes sur le site, y compris en nous contactant. <br />
              De fait, Eloïse décline toute responsabilité pour toute imprécision, inexactitude ou omission portant sur des informations disponibles sur le site, pour tous dommages résultant d’une intrusion frauduleuse d’un tiers ayant entraîné une modification des informations mises à disposition sur le site et plus généralement pour tous dommages, directs ou indirects, quellesqu’en soient les causes, origines, nature ou conséquences, provoqués à raison de l’accès de quiconque au site ou de l’impossibilité d’y accéder, de même que l’utilisation du site et/ou du crédit accordé à une quelconque information provenant directement ou indirectement de ce dernier. <br />
              Par ailleurs, sauf mention contraire, les droits de propriété intellectuelle sur les documents contenus dans le site et chacun des éléments créés pour le site « https://www.elo-tnt1130.com/ » sont la propriété exclusive de Réaction Moto ou de ses fournisseurs, ceux-ci ne concédant aucune licence, ni aucun droit que celui de consulter le site. <br />
              La reproduction des documents publiés sur le site est autorisée à des fins d’informations pour un usage personnel et privé ; toute reproduction et toute utilisation de copies réalisées à d’autres fins est expressément interdite. <br />
              Toutes les marques citées dans ce site appartiennent à leurs compagnies respectives. Les produits, logos et images utilisés dans les pages de ce site sont la propriété de leur marque respective.
            </p>
          </div>
        </div>
      </article>

      <article class="">
        <div class="" id="heading5">
          <h2 class=""><button class="" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5"><h3>Informations d'ordre technique</h3></button></h2>
        </div>

        <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#legacy">
          <div class="">
            <p>Le présent site est accessible 24 heures sur 24 et 7 jours sur 7, à l’exception des cas de force majeure, difficultés informatiques, maintenance, difficultés liées à la structure des réseaux de communication ou difficultés d’ordre technique.</p>
          </div>
        </div>
      </article>

      <article class="">
        <div class="" id="heading6">
          <h3 class=""><button class="" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6"><h3>Application de la loi française</h3></button></h3>
        </div>

        <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#legacy">
          <div class="">
            <p>Le non-respect des présentes dispositions expose le contrevenant à des poursuites et à des sanctions pénales. Le présent document est régi et interprété selon le droit Français et relève de la compétence exclusive des Tribunaux Français. Si l’une des dispositions du présent texte s’avérait nulle, non valide ou sans effet juridique, toutes les autres dispositions demeureraient applicables.</p>
          </div>
        </div>
      </article>
    </section>
  </main>
{% endblock %}
