{% extends 'base_frontoffice.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/nav.css" />
  <link rel="stylesheet" href="/css/footer.css" />
{% endblock %}

{% block title %}
  Parcours de vie
{% endblock %}

{% block body %}
  <style>
    .example-wrapper {
      margin: 1em auto;
      max-width: 800px;
      width: 95%;
      font: 18px/1.5 sans-serif;
    }
    .example-wrapper code {
      background: #f5f5f5;
      padding: 2px 6px;
    }
  </style>

  <main>
    <h1>Parcours de vie</h1>
    <!-- Expériences professionnelles -->
    <section class="">
      <div class="">
        <h2 id="xp-pro" class="">Expériences professionnelles</h2>
      </div>

      <div class="">
        <!-- 1 ARTICLE = 1 JOB -->
        <article class="">
          <div class="">
            <!-- image -->
            <img src="/img/default.png" alt="image_générique" class="" />
            <!-- affichage des informations -->
            <div class="">
              <h3 class="">Développeuse web et web mobile stagiaire</h3>
              <p>WD CREATION - Reuilly-Sauvigny (002)</p>
              <p>05/2021 - 07/2021 (Stage)</p>
              <p>Stage dans le cadre de l'obtention du titre de développeur web et web mobile.</p>
            </div>

            <!-- Bouton compétences et contenu -->
            <div class="" id="jobdetails">
              <!-- Bouton Compétences -->
              <div class="" role="group" aria-label="infosjob" id="heading15">
                <button class="" type="button" data-toggle="" data-target="#wdcreation15" aria-expanded="true" aria-controls="wdcreation15">Compétences</button>
              </div> <!-- Liste des compétences -->
              <div class="" id="wdcreation15" aria-labelledby="heading15" data-parent="#jobdetails">
                <div class="">
                  <ul>
                    <li>Développer la partie front-end d'une application web ou web-mobile : maquettage et réalisation d'interfaces utilisateur dynamiques</li>
                  </ul>
                </div>
              </div>
              <!-- Liste des compétences -->
              <div class="" id="wdcreation15" aria-labelledby="heading15" data-parent="#jobdetails">
                <div class="">
                  <ul>
                    <li>Développer la partie back-end d'une application web ou web-mobile : création d'une base de données, développement des composants d'accès aux données, développement de l'interface back-office</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </article>

        <article class="">
          <div class="">
            <!-- image -->
            <img src="/img//societe-17.png" alt=" logo-HKS AUTOMOTIVE" class="" />
            <!-- affichage des informations -->
            <div class="">
              <h3 class="">Assistante administrative et commerciale</h3>
              <p>HKS AUTOMOTIVE - Reims (051)</p>
              <p>07/2019 - 09/2020</p>
              <p></p>
            </div>

            <!-- Bouton compétences et contenu -->
            <div class="" id="jobdetails"></div>
          </div>
        </article>

        <article class="">
          <div class="">
            <!-- image -->
            <img src="/img/societe-28.png" alt=" logo-CHÂTEAU DE TROISSY" class="" />
            <!-- affichage des informations -->
            <div class="">
              <h3 class="">Assistante administrative et commerciale</h3>
              <p>CHÂTEAU DE TROISSY - Troissy (051)</p>
              <p>08/2018 - 08/2019</p>
              <p></p>
            </div>

            <!-- Bouton compétences et contenu -->
            <div class="" id="jobdetails"></div>
          </div>
        </article>

        <article class="">
          <div class="">
            <!-- image -->
            <img src="/img/societe-29.png" alt=" logo-RENAULT" class="" />
            <!-- affichage des informations -->
            <div class="">
              <h3 class="">Commerciale automobile</h3>
              <p>RENAULT - Epernay (051)</p>
              <p>04/2018 - 08/2018</p>
              <p></p>
            </div>

            <!-- Bouton compétences et contenu -->
            <div class="" id="jobdetails"></div>
          </div>
        </article>
      </div>
    </section>

    <!-- Formations -->
    <section class="">
      <div class="">
        <h2 id="school" class="">Formation</h2>
      </div>

      <div class="">
        <!-- 1 ARTICLE = 1 FORMATION -->
        <article class="">
          <div class="">
            <img src="" alt=" logo-IUT_Troyes" class="" />
            <div class="">
              <h3 class="">Licence professionnelle STS - Métiers de l'informatique : Applications Web - Développement web front et back</h3>
              <p>IUT DE TROYES</p>
              <p>09/2021 - 08/2022</p>
              <p>Licence professionnelle en alternance réalisée entre l'IUT de Troyes et ArcelorMittal Distribution Solutions France</p>
            </div>

            <div class="" id="formationdetails">
              <!-- Bouton Compétences -->
              <div class="" role="group" aria-label="infosformation" id="heading6">
                <button class="" type="button" data-toggle="" data-target="#wdcreation6" aria-expanded="true" aria-controls="wdcreation6">Modules de formation</button>
              </div> <!-- Liste des compétences -->
              <div class="" id="wdcreation6" aria-labelledby="heading6" data-parent="#formationdetails">
                <div class="">
                  <ul>
                    <li>
                      Conception web<ul>
                        <li>Systèmes de gestion de contenu</li>
                        <li>Solutions de commerce électronique</li>
                        <li>Outils de développement du web</li>
                        <li>Accessibilité du web et référencement</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Liste des compétences -->
              <div class="" id="wdcreation6" aria-labelledby="heading6" data-parent="#formationdetails">
                <div class="">
                  <ul>
                    <li>
                      Gestion de projets<ul>
                        <li>Techniques de gestion de projet web</li>
                        <li>Outils de gestion de projet web</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Liste des compétences -->
              <div class="" id="wdcreation6" aria-labelledby="heading6" data-parent="#formationdetails">
                <div class="">
                  <ul>
                    <li>
                      Economie, droit, gestion<ul>
                        <li>Marketing digital</li>
                        <li>Création d'entreprises innovantes</li>
                        <li>Droit du web et données personnelles (RGPD)</li>
                        <li>Jeu d'entreprise : gestion de projet</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Liste des compétences -->
              <div class="" id="wdcreation6" aria-labelledby="heading6" data-parent="#formationdetails">
                <div class="">
                  <ul>
                    <li>Projets</li>
                  </ul>
                </div>
              </div>
              <!-- Liste des compétences -->
              <div class="" id="wdcreation6" aria-labelledby="heading6" data-parent="#formationdetails">
                <div class="">
                  <ul>
                    <li>Professionnalisation : alternance</li>
                  </ul>
                </div>
              </div>
              <!-- Liste des compétences -->
              <div class="" id="wdcreation6" aria-labelledby="heading6" data-parent="#formationdetails">
                <div class="">
                  <ul>
                    <li>
                      Management et Langues<ul>
                        <li>Anglais</li>
                        <li>Management d'équipe et communication interpersonnelle</li>
                        <li>Techniques de recherche d'emploi</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Liste des compétences -->
              <div class="" id="wdcreation6" aria-labelledby="heading6" data-parent="#formationdetails">
                <div class="">
                  <ul>
                    <li>
                      Développement web<ul>
                        <li>Développement mobile (react native)</li>
                        <li>Frameworks pour le web (symfony + VueJS)</li>
                        <li>Internet sur les objets</li>
                        <li>Qualité et accessibilité du web (OPQUAST)</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Liste des compétences -->
              <div class="" id="wdcreation6" aria-labelledby="heading6" data-parent="#formationdetails">
                <div class="">
                  <ul>
                    <li>
                      Expérience utilisateur<ul>
                        <li>Langages du web avancés</li>
                        <li>Ergonomie / UX</li>
                        <li>Design et multimédia</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </article>

        <article class="">
          <div class="">
            <img src="/img/societe-24.png" alt=" logo-NEXTFORMATION" class="" />
            <div class="">
              <h3 class="">Titre RNCP Développeur Web et Web Mobile</h3>
              <p>NEXTFORMATION</p>
              <p>12/2020 - 07/2021</p>
              <p>Formation continue en vue d'une reconversion professionnelle avec programme sur 6 mois et stage.</p>
            </div>

            <div class="" id="formationdetails">
              <!-- Bouton Compétences -->
              <div class="" role="group" aria-label="infosformation" id="heading6">
                <button class="" type="button" data-toggle="" data-target="#wdcreation6" aria-expanded="true" aria-controls="wdcreation6">Modules de formation</button>
              </div> <!-- Liste des compétences -->
              <div class="" id="wdcreation6" aria-labelledby="heading6" data-parent="#formationdetails">
                <div class="">
                  <ul>
                    <li>HTML/CSS</li>
                  </ul>
                </div>
              </div>
              <!-- Liste des compétences -->
              <div class="" id="wdcreation6" aria-labelledby="heading6" data-parent="#formationdetails">
                <div class="">
                  <ul>
                    <li>JavaScript : Node.JS/Express, React.JS/Redux, React Native</li>
                  </ul>
                </div>
              </div>
              <!-- Liste des compétences -->
              <div class="" id="wdcreation6" aria-labelledby="heading6" data-parent="#formationdetails">
                <div class="">
                  <ul>
                    <li>PHP : Laravel, Symfony</li>
                  </ul>
                </div>
              </div>
              <!-- Liste des compétences -->
              <div class="" id="wdcreation6" aria-labelledby="heading6" data-parent="#formationdetails">
                <div class="">
                  <ul>
                    <li>Merise</li>
                  </ul>
                </div>
              </div>
              <!-- Liste des compétences -->
              <div class="" id="wdcreation6" aria-labelledby="heading6" data-parent="#formationdetails">
                <div class="">
                  <ul>
                    <li>Wireframing : MockPlus, Balsamiq</li>
                  </ul>
                </div>
              </div>
              <!-- Liste des compétences -->
              <div class="" id="wdcreation6" aria-labelledby="heading6" data-parent="#formationdetails">
                <div class="">
                  <ul>
                    <li>CMS : WooComerce, Wordpress</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </article>

        <article class="">
          <div class="">
            <img src="/img/societe-15.png" alt=" logo-DIJON FORMATION" class="" />
            <div class="">
              <h3 class="">BTS Communication en alternance</h3>
              <p>DIJON FORMATION</p>
              <p>09/2014 - 08/2016</p>
              <p>Formation par alternance en communication des entreprises, option facultative en candidat libre italien</p>
            </div>

            <div class="" id="formationdetails">
              <!-- Bouton Compétences -->
              <div class="" role="group" aria-label="infosformation" id="heading5">
                <button class="" type="button" data-toggle="" data-target="#wdcreation5" aria-expanded="true" aria-controls="wdcreation5">Modules de formation</button>
              </div> <!-- Liste des compétences -->
              <div class="" id="wdcreation5" aria-labelledby="heading5" data-parent="#formationdetails">
                <div class="">
                  <ul>
                    <li>Culture de la communication : stratégie et expression visuelle</li>
                  </ul>
                </div>
              </div>
              <!-- Liste des compétences -->
              <div class="" id="wdcreation5" aria-labelledby="heading5" data-parent="#formationdetails">
                <div class="">
                  <ul>
                    <li>Mise en œuvre et suivi des projets de communication : fabrication et production</li>
                  </ul>
                </div>
              </div>
              <!-- Liste des compétences -->
              <div class="" id="wdcreation5" aria-labelledby="heading5" data-parent="#formationdetails">
                <div class="">
                  <ul>
                    <li>Conseil et relation annonceur : gestion relation client</li>
                  </ul>
                </div>
              </div>
              <!-- Liste des compétences -->
              <div class="" id="wdcreation5" aria-labelledby="heading5" data-parent="#formationdetails">
                <div class="">
                  <ul>
                    <li>Veille opérationnelle</li>
                  </ul>
                </div>
              </div>
              <!-- Liste des compétences -->
              <div class="" id="wdcreation5" aria-labelledby="heading5" data-parent="#formationdetails">
                <div class="">
                  <ul>
                    <li>Lange vivante étrangère : anglais</li>
                  </ul>
                </div>
              </div>
              <!-- Liste des compétences -->
              <div class="" id="wdcreation5" aria-labelledby="heading5" data-parent="#formationdetails">
                <div class="">
                  <ul>
                    <li>Langue vivante étrangère optionnelle : italien</li>
                  </ul>
                </div>
              </div>
              <!-- Liste des compétences -->
              <div class="" id="wdcreation5" aria-labelledby="heading5" data-parent="#formationdetails">
                <div class="">
                  <ul>
                    <li>Economie</li>
                  </ul>
                </div>
              </div>
              <!-- Liste des compétences -->
              <div class="" id="wdcreation5" aria-labelledby="heading5" data-parent="#formationdetails">
                <div class="">
                  <ul>
                    <li>Droit</li>
                  </ul>
                </div>
              </div>
              <!-- Liste des compétences -->
              <div class="" id="wdcreation5" aria-labelledby="heading5" data-parent="#formationdetails">
                <div class="">
                  <ul>
                    <li>Management des entreprises</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </article>

        <article class="">
          <div class="">
            <img src="/img/societe-25.png" alt=" logo-LYCEE CLOS MAIRE" class="" />
            <div class="">
              <h3 class="">BTS Animation et Gestion Touristiques Locales</h3>
              <p>LYCEE CLOS MAIRE</p>
              <p>09/2011 - 06/2013</p>
              <p>Préparation de la carte de guide touristique</p>
            </div>

            <div class="" id="formationdetails"></div>
          </div>
        </article>
      </div>
    </section>

    <!-- Loisirs -->
    <section class="">
      <div class="">
        <h2 id="hobbies" class="">Loisirs</h2>
      </div>

      <div class="">
        <article class="">
          <div class="">
            <img src="/img/hobby-1.png" alt=" représentation-Sports mécaniques" class="" />
            <div class="">
              <h3 class="">Sports mécaniques</h3>
              <p>Passionnée de motos et de rallyes automobile.</p>
            </div>
          </div>
        </article>

        <article class="">
          <div class="">
            <img src="/img/hobby-2.png" alt=" représentation-Photographie" class="" />
            <div class="">
              <h3 class="">Photographie</h3>
              <p>Surtout derrière l'objectif, mais parfois aussi devant.</p>
            </div>
          </div>
        </article>

        <article class="">
          <div class="">
            <img src="/img/hobby-3.png" alt=" représentation-Lecture" class="" />
            <div class="">
              <h3 class="">Lecture</h3>
              <p>Littérature fantastique, historique et à suspense.</p>
            </div>
          </div>
        </article>

        <article class="">
          <div class="">
            <img src="/img/hobby-4.png" alt=" représentation-Escalade" class="" />
            <div class="">
              <h3 class="">Escalade</h3>
              <p></p>
            </div>
          </div>
        </article>

        <article class="">
          <div class="">
            <img src="/img/hobby-6.png" alt=" représentation-Plongée" class="" />
            <div class="">
              <h3 class="">Plongée</h3>
              <p></p>
            </div>
          </div>
        </article>
      </div>
    </section>

    <!-- Compétences -->
    <section class="">
      <div class="">
        <h2 id="skills" class="">Compétences</h2>
      </div>

      <div class="">
        <article class="">
          <div class="">
            <div class="">
              <h3 class="">Web</h3>
            </div>
            <div class="">
              <img src="/img/skill-1.png" alt="logo-HTML" class="" /><img src="/img/skill-2.png" alt="logo-CSS" class="" /><img src="/img/skill-3.png" alt="logo-JAVASCRIPT" class="" /><img src="/img/skill-4.png" alt="logo-PHP" class="" /><img src="/img/skill-5.png" alt="logo-SQL" class="" /><img src="/img/skill-6.png" alt="logo-REACT" class="" /><img src="/img/skill-7.png" alt="logo-REDUX" class="" /><img src="/img/skill-8.png" alt="logo-BOOTSTRAP" class="" /><img src="/img/skill-9.png" alt="logo-GIT" class="" /><img src="/img/skill-10.png" alt="logo-GITHUB" class="" /><img src="/img/skill-25.svg" alt="logo-QUALITE WEB" class="" />
            </div>
          </div>
        </article>

        <article class="">
          <div class="">
            <div class="">
              <h3 class="">Informatique</h3>
            </div>
            <div class="">
              <img src="/img/skill-11.svg" alt="logo-APPLE" class="" /><img src="/img/skill-12.png" alt="logo-WINDOWS" class="" /><img src="/img/skill-13.png" alt="logo-LINUX UBUNTU" class="" /><img src="/img/skill-14.png" alt="logo-MICROSOFT OFFICE" class="" /><img src="/img/skill-15.png" alt="logo-VISUAL STUDIO CODE" class="" /><img src="/img/skill-16.png" alt="logo-BALSAMIQ" class="" /><img src="/img/skill-17.png" alt="logo-AFFINITY DESIGNER" class="" /><img src="/img/skill-18.png" alt="logo-AFFINITY PHOTO" class="" /><img src="/img/skill-19.png" alt="logo-AFFINITY PUBLISHER" class="" /><img src="/img/skill-20.png" alt="logo-ADOBE LIGHTROOM" class="" /><img src="/img/skill-21.png" alt="logo-ADOBE ILLUSTRATOR" class="" /><img src="/img/skill-22.png" alt="logo-ADOBE PHOTOSHOP" class="" /><img src="/img/skill-23.png" alt="logo-ADOBE INDESIGN" class="" /><img src="/img/skill-24.png" alt="logo-ADOBE PREMIERE" class="" />
            </div>
          </div>
        </article>

        <article class="">
          <div class="">
            <div class="">
              <h3 class="">Linguistique</h3>
            </div>
            <div class="">
              <img src="/img/skill-26.png" alt="logo-ITALIEN" class="" />
              <caption>ITALIEN - Courant - CILS2</caption>
              <br /><img src="/img/skill-27.png" alt="logo-ANGLAIS" class="" />
              <caption>ANGLAIS - Professionnel</caption>
              <br /><img src="/img/skill-28.png" alt="logo-RUSSE" class="" />
              <caption>RUSSE - Scolaire</caption>
              <br />
            </div>
          </div>
        </article>
      </div>
    </section>

    <a href="#top" class="text-warning" id="scrollTop"><i class="material-icons">expand_less</i></a>
  </main>
{% endblock %}
