<footer class="bg-blue-950 py-3 text-white">
  <section class="justify-center pb-2 border-b border-white">
      <ul class="flex justify-around justify-content-around">
        <li>
          <a href="/">Accueil</a>
        </li>
        <li>
          <a href="/portfolio">Portfolio</a>
        </li>
        <li>
          <a href="/lifejourney">Parcours de vie</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
        <li>
          <a href="/legacy">Mentions légales</a>
        </li>
      </ul>
  </section>
  <section>
    <article class="flex justify-center pt-2 pb-3">
      <p>© 2024 Copyright Text</p>
    </article>

    <article class="flex justify-center">
      <a href="www.linkedin.com/in/eloise-caille/"><img class="size-12" src="/img/linkedin-icon-logo-png-transparent.png" alt="logo_linkedin" /></a>
    </article>
  </section>
</footer>
