<footer>
  <section>
      <ul>
        <li>
          <a href="/">Accueil</a>
        </li>
        <li>
          <a href="/portfolio">Portfolio</a>
        </li>
        <li>
          <a href="/lifejourney">Parcours de vie</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
        <li>
          <a href="/legacy">Mentions légales</a>
        </li>
      </ul>
  </section>
  <section>
    <article>
      <p>© 2024 Copyright Text</p>
    </article>

    <article>
      <a href="www.linkedin.com/in/eloise-caille/"><img src="/img/linkedin-icon-logo-png-transparent.png" alt="logo_linkedin" /></a>
    </article>
  </section>
</footer>
