<header>
  <!-- NAVBAR -->
  <nav>
    <!-- Burger button to collapse menu on small screens -->
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <div>
      <ul>
        <li>
          <a href="/">Accueil</a>
        </li>
        <li>
          <a href="/portfolio">Portfolio</a>
        </li>
        <li>
          <a href="/lifejourney">Parcours de vie</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </div>

    <!-- Image/logo, allows to go back homepage from anywhere -->
    <div class="row cont-logo">
      <a class="navbar-brand" href="/"><img src="/img/AvatarMaker.svg" alt="logo" class="img-fluid img-logo" /></a>
    </div>

    <!-- BUTTON DL ON SMALL SCREENS -->
    <div>
      <a class="" href="/dl/CV_IT.pdf" target="_blank" role="button">
        <div class="">
          <div class="" id="dl-cv">Téléchargez mon CV !</div>
          <div class="" id="dl-cv-xs">CV</div>
          <div>
            <i class="">file_download</i>
          </div>
        </div>
      </a>
    </div>
  </nav>
  <!-- END NAVBAR -->
</header>
