<header class="bg-blue-950 text-white">
  <!-- NAVBAR -->
  <nav class="flex w-full">
    <!-- Burger button to collapse menu on small screens -->
    <button class="" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

{# centrer dans le block content-center + items-stretch/items-center + self-center sur un li ? + grow + shrink + stretch #}
    <section class="sm:grow md:grow lg:w-40 border-red-500 flex border-2">
      <ul class="flex items-center">
        <li class="items-center border border-white px-5">
          <a href="/">Accueil</a>
        </li>
        <li class="items-center border border-white px-5">
          <a href="/portfolio">Portfolio</a>
        </li>
        <li class="items-center border border-white px-5">
          <a href="/lifejourney">Parcours de vie</a>
        </li>
        <li class="items-center border border-white px-5">
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </section>

    <!-- Image/logo, allows to go back homepage from anywhere -->
    <section class="sm:grow md:grow lg:w-60 border-lime-400 border-2">
      <a href="/"><img src="/img/AvatarMaker.svg" alt="logo" class="w-20" /></a>
    </section>

    <!-- BUTTON DL ON SMALL SCREENS -->
    <section class="sm:grow md:grow justify-end lg:hidden border-orange-600 border-2">
      <a class="" href="/dl/CV_IT.pdf" target="_blank" role="button">
        <div class="" id="dl-cv">Téléchargez mon CV !</div>
        <div class="" id="dl-cv-xs">CV</div>
        <div>
          <i class="">file_download</i>
        </div>
      </a>
    </section>
  </nav>    
  <!-- END NAVBAR -->
</header>
